.header-slideshow-container {
	position: relative;
    background: #000;
    height: 3.5em;
    color: #fff;

    .header-slideshow-inner {
        width: 50%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .headerMessagesSlides {
            display: none;
            position: relative;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            overflow: hidden;
            min-height: 2em;
            z-index: 1000;
            box-sizing: content-box;

            .msg {
                display: inline-block;
                width: 69%;
                height: 3em;
                border: 1px solid red;
                z-index: 99999999999999;
                position: relative;
                float: right;
                padding: 1em;
                box-sizing: border-box;
                line-height: 1em;
            }
            .img{
                display: inline-block;
                position: relative;
                max-width: 30%;
                height: 3em;
                border: 1px solid red;
                z-index: 99999999999999;
                float: right;
                img {
                    object-fit: contain;
                    height: inherit;
                }
            }

            &.active {
                display: block !important;

               > div {
                    // animation: marquee 11s cubic-bezier(0.1, 0.57, 0.39, 0.86) infinite;
                    // position: absolute;
                    z-index: 100;
                }
            }

           > span {
                margin: 0;
                padding: 0;
                // display: table-footer-group;
            }
        }
        .header-slideshow-prev, .header-slideshow-next {
            display: inline;
            cursor: pointer;
            position: absolute;
            height: inherit;
            top: 0;
            width: auto;
            padding: 16px;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            user-select: none;
            &:hover {
                color: #888;
            }
        }

        .header-slideshow-next {
            left: 0;
        }
    }
}
@media (max-width: 768px) {
    .header-slideshow-inner {
        width: 95% !important;
    }
}

@keyframes marquee {
    0% { right: 8%;}
    50%{ right : 45%;}
    100%{ right: 92%;}
}
